<!DOCTYPE html>
<!-- Thymeleaf 선언 / FooterFragment 임을 선언-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="FooterFragment">
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <hr class="sigma-hr">
        </div>
    </div>

    <div class="row">
        <div class="sigma-copyright col-lg-8">
            <p>Copyright © 2016 Sigma HTML CSS Template</p>
        </div>

        <div class="sigma-copyright col-lg-4 single-page-nav text-right">
            <p><a href="#top">Go to top</a></p>
        </div>
    </div>

</div>
</html>