<!DOCTYPE html>
<!-- Thymeleaf 선언 / FooterFragment 임을 선언-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="FooterFragment">
<body>


    <footer class="site-footer">
        <div class="container">

            <div class="row mt-5">
                <div class="col-12 text-center">
                    c
                </div>
            </div>
        </div>
    </footer>

    <div id="overlayer"></div>
    <div class="loader">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/tiny-slider.js}"></script>

    <script th:src="@{/js/flatpickr.min.js}"></script>

    <script th:src="@{/js/aos.js}"></script>
    <script th:src="@{/js/glightbox.min.js}"></script>
    <script th:src="@{/js/navbar.js}"></script>
    <script th:src="@{/js/counter.js}"></script>
    <script th:src="@{/js/custom.js}"></script>

</body>
</html>