<!DOCTYPE html>
<!-- Thymeleaf 선언 / headerFragment 임을 선언-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="HeaderFragment">
<head>
    <title>K-MPC</title>
</head>

<body>

<header id="top">

    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-4 col-md-12 site-title">
                <h1>K-MPC</h1>
                <h2>한국 산 사진클럽</h2>

            </div>

            <div class="col-lg-8 col-md-12 main-menu">

                <nav class="navbar navbar-light">
                    <ul class="nav navbar-nav single-page-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="">최근사진
                                <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">산명칭별</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">회원별 작품</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">커뮤니케이션</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">클럽소개</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">이벤트</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link external" href="http://www.google.com/+templatemo"
                               title="+templatemo page" target="_parent">로그인/회원가입</a>
                        </li>
                    </ul>
                </nav>

            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <hr class="sigma-hr">
            </div>
        </div>

    </div>

</header>
</body>

</html>