<!DOCTYPE html>
<!-- Thymeleaf 선언 / headerFragment 임을 선언-->
<html
        lang="en"
        th:fragment="HeaderFragment"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>K-MPC</title>

    <link href="https://fonts.googleapis.com" rel="preconnect"/>
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap"
            rel="stylesheet"
    />

    <link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}"/>
    <link rel="stylesheet" th:href="@{/fonts/flaticon/font/flaticon.css}"/>

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
            rel="stylesheet"
    />

    <link rel="stylesheet" th:href="@{/css/tiny-slider.css}"/>
    <link rel="stylesheet" th:href="@{/css/aos.css}"/>
    <link rel="stylesheet" th:href="@{/css/glightbox.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

    <link rel="stylesheet" th:href="@{/css/flatpickr.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/flatpickr-monthSelect.css}"/>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery-3.7.0.min.js}"></script>
    <script th:src="@{/js/tiny-slider.js}"></script>

    <script th:src="@{/js/flatpickr.min.js}"></script>
    <script th:src="@{/js/flatpickr-ko.js}"></script>
    <script th:src="@{/js/flatpickr-monthSelect.js}"></script>

    <script th:src="@{/js/aos.js}"></script>
    <script th:src="@{/js/glightbox.min.js}"></script>
    <script th:src="@{/js/counter.js}"></script>
</head>
<body>
<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
            <span class="icofont-close js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>

<nav class="site-nav">
    <div class="container">
        <div class="menu-bg-wrap">
            <div class="site-navigation">
                <div class="row g-0 align-items-center">
                    <div class="col-2">
                        <a class="logo m-0 float-start" href="/index"
                        >
                            <img src="/images/logo1.png">
                            <img src="/images/logo2.png">
<!--                            K-MPC<span class="text-primary">.</span>-->
                        </a
                        >
                    </div>
                    <div class="col-7 text-center">
                        <ul
                                class="js-clone-nav d-none d-lg-inline-block text-start site-menu mx-auto"
                        >
                            <li><a href="/gallery/recent">최근사진</a></li>
                            <li><a href="/gallery/mt?mtNo=1">산명칭별</a></li>
                            <li><a href="/gallery/member">회원별 작품</a></li>
                            <li class="has-children active">
                                <a href="/board">커뮤니케이션</a>
                                <ul class="dropdown">
                                    <li><a href="/board/1">공지사항</a></li>
                                    <li><a href="/board/2">자유게시판</a></li>
                                </ul>
                            </li>
                            <li><a href="category.html">클럽소개</a></li>
                            <li><a href="category.html">이벤트</a></li>
                        </ul>
                    </div>
                    <div class="col-3 text-end">
                        <a
                                class="burger ms-auto float-end site-menu-toggle js-menu-toggle d-inline-block d-lg-none light"
                                href="#"
                        >
                            <span></span>
                        </a>
                        <ul
                                class="js-clone-nav d-none d-lg-inline-block text-start site-menu mx-auto"
                        >
                            <li>
                                <a href="/join" sec:authorize="isAnonymous()">회원가입</a>
                                <a href="/mypage" sec:authorize="isAuthenticated()"><span
                                        sec:authentication="principal.name"></span></a>
                            </li>
                            <li>
                                <a class="bi bi-person-fill" href="/login" sec:authorize="isAnonymous()">로그인</a>
                                <a class="bi bi-person-fill" href="/api/logout"
                                   sec:authorize="isAuthenticated()">로그아웃</a>
                            </li>
                            <li>
                                <a class="bi bi-arrow-bar-up" href="/gallery/upload"
                                   sec:authorize="isAuthenticated()">upload</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
</body>
</html>
