<!DOCTYPE html>
<html
        lang="en"
        layout:decorate="~{common/layouts/default_layout}"
        layout:fragment="Content"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<script src="https://cdn.jsdelivr.net/npm/exif-js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var aa = /*[[${postDto}]]*/;
    /*]]>*/
</script>
<style>

    .image-box {
        width: 80%;
    }

    .carousel-control-prev,
    .carousel-control-next {
        position: relative;
        color: #827f7f;
        font-size: 70px;
    }

    .carousel-control-prev:hover,
    .carousel-control-next:hover {
        color: #0d0d0d;
    }

    .carousel-control-prev:active,
    .carousel-control-next:active {
        color: #0d0d0d;
    }

    .carousel-control-prev:focus,
    .carousel-control-next:focus {
        color: #0d0d0d;
    }


    @media (min-width: 1024px) {
        .carousel-control-prev {
            padding-left: 100px;
        }

        .carousel-control-next {
            padding-right: 100px;
        }

    }

    @media (min-width: 658px) {
        .image-box {
            width: 100%;
        }
    }


</style>
<section class="section">

    <input name="id" th:value="${postDto.id}" type="hidden"/>
    <input name="id" th:value="${postDto.boardId}" type="hidden"/>
    <input id="memberId"
           name="memberId"
           sec:authorize="isAuthenticated()"
           th:value="${#authentication.getPrincipal().username}"
           type="hidden"
    >
    <div class="container">
        <!--        <nav class="navbar bg-body-tertiary">-->
        <!--            <p class="navbar-brand" th:text="${postDto.boardId} == 1 ? '공지사항 상세' : '자유게시판 상세'">커뮤니케이션</p>-->
        <!--        </nav>-->
        <div class="row blog-entries element-animate">

            <div class="d-flex justify-content-start">
                <h4
                        id="title"
                        th:text="${postDto.title}"
                        type="text">
                </h4>
                <span class="align-self-center"
                      th:text="'    '+${#temporals.format(postDto.createAt, 'yyyy-MM-dd HH:mm:ss')}"></span>
            </div>
            <div class="d-flex bd-highlight mb-3">
                <div class="me-auto bd-highlight">
                    <div class="d-flex justify-content-start">
                        <div class="pe-2">
                            <p
                                    id="memberName"
                                    th:text="'작성자 :' + ${postDto.username} "
                            ></p>
                        </div>
                        <div class="pe-2" th:if="${postDto.boardId} == 1">
                            <p
                                    id="gbVal"
                                    th:text="' |'+${postDto.gbVal} == 1 ? '#Head' : (${postDto.gbVal} == 2 ? '#산행' : (${postDto.gbVal} == 3 ? '#중요' : '#일반'))"
                                    type="text"
                            ></p>
                        </div>
                    </div>
                </div>

                <a class="p-2 bd-highlight"
                   id="btnDel"
                   sec:authorize="isAuthenticated()"
                >
                    삭제
                </a>
                <a class="p-2 bd-highlight"
                   id="btnUpdate"
                   sec:authorize="isAuthenticated()"
                   th:href="@{/board/update/{postId}(postId=${postDto.id})}"
                >
                    수정
                </a>
                <a class="p-2 bd-highlight"
                   id="btnList"
                   th:href="@{/board/{boardId}(boardId=${postDto.boardId})}"
                >
                    목록
                </a>
            </div>
            <hr class="mb-30"/>
            <div class="post-content-body">
                <div class="mb-3">
                    <p id="boardContent"
                       th:utext="${postDto.content}"
                        style="white-space:pre;"
                    ></p>
                </div>
            </div>
            <hr>
            <div class="mb-3" th:if="${postFile}">
                <label for="content">첨부파일</label>
                <p th:each="postFile, index : ${postFile}">
                    <a th:href="${postFile.fileUrl}"
                       th:text="${postFile.storeFilename}">파일이름1.png</a>
                    <!--                    <span>-->
                    <!--                <button th:fileId="${boardFile.boardFileId}" th:onclick="boardDelete(this.getAttribute('fileId'))"-->
                    <!--                        type="button" class="btn btn-outline-danger">삭제</button>-->
                    <!--            </span>-->
                </p>
            </div>
            <div class="pt-1">

            </div>


            <div class="comment-form-wrap bg-light p-3" sec:authorize="isAuthenticated()">
                <h3 class="mb-5 heading">댓글</h3>
                <div class="form-group input-group save">
                    <label for="content"></label>
                    <input class="form-control content" id="content" name="content"
                           type="text">
                    <input class="btn btn-primary" id="commentSubmit" type="button" value="작성">
                </div>
            </div>

            <div class="comment-wrap pt-3" id="comment">
                <ul class="comment-list">
                    <li class="comment" th:each="comment, index :${commentDto}">
                        <div class="comment-body" th:unless="${comment.delYn == 'Y' && comment.children.size == 0 }">
                            <input class="commentId" th:value="${comment.id}" type="hidden">
                            <hr>
                            <h5 th:text="${comment.nickname}"></h5>
                            <div class="meta"
                                 th:text="${#temporals.format(comment.createAt, 'yyyy-MM-dd HH:mm:ss')}"></div>
                            <p th:if="${comment.delYn} != 'Y'" th:text="${comment.content}"></p>
                            <p th:if="${comment.delYn} == 'Y'" th:text="'삭제된 댓글입니다.'"></p>
                            <p>
                                <a class="actionBtn rounded"
                                   data-bs-toggle="collapse"
                                   sec:authorize="isAuthenticated()"
                                   th:attr="data-bs-target=|#r${comment.id}"
                                   th:if="${comment.memberId != null}">답글</a>
                                <a class="actionBtn rounded"
                                   data-bs-toggle="collapse"
                                   sec:authorize="isAuthenticated()"
                                   th:attr="data-bs-target=|#u${comment.id}"
                                   th:if="${comment.memberId != null and comment.memberId.equals(#authentication.getName())}">수정</a>
                                <a class="actionBtn rounded delBtn"
                                   sec:authorize="isAuthenticated()"
                                   th:if="${comment.memberId != null and comment.memberId.equals(#authentication.getName())}">삭제</a>
                            </p>
                        </div>
                        <div class="collapse" data-bs-parent="#comment" sec:authorize="isAuthenticated()"
                             th:id="r + ${comment.id}">
                            <div class="input-group reply">
                                <label for="replyContent" style="display: none">답글</label>
                                <input class="form-control content" id="replyContent" name="content"
                                       placeholder="답글 입력해주세요"
                                       type="text">
                                <input class="form-control parentId" id="parentId" name="parentId"
                                       th:value="${comment.id}"
                                       type="hidden">
                                <button class="btn btn-primary replyBtn"
                                        type="button"
                                        value="작성">답글작성
                                </button>
                            </div>
                        </div>
                        <div class="collapse" data-bs-parent="#comment" sec:authorize="isAuthenticated()"
                             th:id="u + ${comment.id}">
                            <div class="input-group update">
                                <label for="updateContent" style="display: none">수정</label>
                                <input class="form-control content" id="updateContent" name="content"
                                       placeholder="수정 댓글을 입력해주세요"
                                       type="text">
                                <input class="form-control commentId" id="commentId" name="commentId"
                                       th:value="${comment.id}"
                                       type="hidden">
                                <button class="btn btn-primary updateBtn"
                                        type="button"
                                        value="작성">수정
                                </button>
                            </div>
                        </div>
                        <div th:each="children, index : ${comment.children}">
                            <ul class="children" th:if="${children.delYn} != 'Y'">
                                <li class="comment">
                                    <div class="comment-body">
                                        <input class="commentId" th:value="${children.id}" type="hidden">
                                        <hr>
                                        <h5 th:text="${children.nickname}"></h5>
                                        <div class="meta"
                                             th:text="${#temporals.format(children.createAt, 'yyyy-MM-dd HH:mm:ss')}"></div>
                                        <p th:if="${comment.delYn} != 'Y'" th:text="${children.content}"></p>
                                        <p th:if="${children.delYn} == 'Y'" th:text="'삭제된 댓글입니다.'"></p>
                                        <p>
                                            <a class="actionBtn rounded"
                                               data-bs-toggle="collapse"
                                               sec:authorize="isAuthenticated()"
                                               th:attr="data-bs-target=|#u${comment.id}"
                                               th:if="${children.memberId != null and children.memberId.equals(#authentication.getName())}">수정</a>
                                            <a class="actionBtn rounded delBtn"
                                               sec:authorize="isAuthenticated()"
                                               th:if="${children.memberId != null and children.memberId.equals(#authentication.getName())}">삭제</a>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<script th:inline="javascript">

    document.getElementById("commentSubmit").addEventListener("click", (e) => {
        const form = e.target.closest('.input-group');
        save(form)
    })

    document.getElementById("btnDel").addEventListener("click", (e) => {
        const form = e.target.closest('.input-group');
        save(form)
    })

    const updateBtn = document.querySelectorAll('.updateBtn');
    updateBtn.forEach(function (item) {
        item.addEventListener('click', function (e) {
            var form = e.target.closest('.input-group');
            save(form);
        });
    });

    const replyBtn = document.querySelectorAll('.replyBtn');
    // 모든 수정 버튼별, 이벤트 등록
    replyBtn.forEach(function (item) {
        item.addEventListener('click', function (e) {
            var form = e.target.closest('.input-group');
            save(form);
        });
    });

    const delBtn = document.querySelectorAll('.delBtn');
    delBtn.forEach(function (item) {
        item.addEventListener('click', function (e) {
            var form = e.target.closest('.comment-body');
            delCommnet(form);
        });
    });

    function delPost() {
        if (confirm("정말 삭제하시겠습니까?") == true) {
            const postId = [[ ${postDto.id}]];

            var params = {
                postIds: [postId]
            }
            $.ajax({
                url: `/api/post/delete`,
                type: 'post',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(params),
                async: false,
                success: function (data) {

                }
            })
        }
    }

    function delCommnet(form) {
        if (confirm("정말 삭제하시겠습니까?") == true) {
            const postId = [[ ${postDto.id}]];

            var params = {
                postIds: postId,
                commentId: form.querySelector(".commentId").value
            }
            $.ajax({
                url: `/api/comment/delete`,
                type: 'post',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(params),
                async: false,
                success: function (res) {
                    window.location.reload(true);
                }
            })
        }
    }

    // 전체 댓글 조회
    function findAllComment() {

        const postId = [[ ${postDto.id}]];

        $.ajax({
            url: `/posts/${postId}/comments`,
            type: 'get',
            dataType: 'json',
            async: false,
            success: function (response) {

                // 1. 조회된 데이터가 없는 경우
                if (!response.length) {
                    document.querySelector('.comment-list').innerHTML = `
                                                                            <li class="comment">
                                                                            <div class="comment-body">
                                                                                <h5>등록된 댓글이 없습니다.</h5>
                                                                            </div>
                                                                            </li>
                                                                        `;
                    return false;
                }

                // 2. 렌더링 할 HTML을 저장할 변수
                let commentHtml = '';

                // 3. 댓글 HTML 추가
                response.forEach(commentDto => {
                    commentHtml += `
                        <li class="comment">
                        <div class="comment-body">
                            <h5>${commentDto.nickname}</h5>
                            <div class="meta">${commentDto.createAt}</div>
                            <p>${commentDto.content}</p>
                            <p><a href="#" class="reply rounded">Reply</a></p>
                        </div>
                        `;
                    if (commentDto.children != null) {
                        commentHtml +=
                            `<ul class="children">`;
                        commentDto.children.forEach(commentDto => {
                            commentHtml +=
                                `
                                <li class="comment">
                                    <div class="comment-body">
                                        <h5>${commentDto.nickname}</h5>
                                        <div class="meta">${commentDto.createAt}</div>
                                        <p>${commentDto.content}</p>
                                        <p><a href="#" class="reply rounded">Reply</a></p>
                                    </div>
                                </li>
                                `;
                        })
                        commentHtml +=
                            `</ul>`;
                    }
                    commentHtml += `</li>`;
                })

                // 4. class가 "cm_list"인 요소를 찾아 HTML을 렌더링
                document.querySelector('.comment-list').innerHTML = commentHtml;
            },
            error: function (request, status, error) {
                console.log(error)
            }
        })
    }


    // 댓글 저장
    function save(form) {
        if (form.querySelector(".content").value.length == 0) {
            alert("내용을 입력해주세요.")
            return
        }

        const memberId = document.getElementById('memberId');
        const postId = [[ ${postDto.id}]];
        const flag = form.className;

        const params = {
            postId: postId,
            content: form.querySelector(".content").value,
            memberId: memberId.value
        }
        if (flag.includes("update")) {
            params.commentId = form.querySelector(".commentId").value
        } else if (flag.includes("reply")) {
            params.parentId = form.querySelector(".parentId").value
        }

        $.ajax({
            url: `/api/comment/save`,
            type: 'post',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(params),
            dataType: 'json',
            async: false,
            success: function (response) {
                content.value = '';
                alert('저장되었습니다.');
                window.location.reload(true); // 페이지 리로드
            },
            error: function (request, status, error) {
                console.log(error)
            }
        });
    }

</script>
</html>
