<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/layouts/default_layout}"
  layout:fragment="Content"
>
  <section class="section bg-light">
    <form
      th:action="@{/update}"
      th:object="${postDto}"
      th:method="put"
      enctype="multipart/form-data"
    >
      <input type="hidden" name="id" th:value="*{id}" />
      <article>
        <div class="container" role="main">
          <div class="form-group">
            <label for="title">제목</label>
            <input
              type="text"
              class="form-control"
              id="title"
              name="title"
              th:value="*{title}"
              placeholder="제목을 입력해 주세요"
              th:class="${#fields.hasErrors('title')}? 'form-control fieldError' : 'form-control'"
            />
            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
              Incorrect date
            </p>
          </div>
          <br />
          <div class="mb-3">
            <label for="reg_id">작성자</label>
            <input
              type="text"
              class="form-control"
              id="reg_id"
              name="regId"
              value="관리자"
              readonly
            />
          </div>
          <br />
          <div class="mb-3">
            <label for="content">내용</label>
            <textarea
              class="form-control"
              rows="5"
              id="content"
              name="content"
              th:text="*{content}"
              placeholder="내용을 입력해 주세요"
            ></textarea>
          </div>
          <br />
          <div class="mb-3">
            <label for="content">첨부파일</label>
            <p th:each="postFile, index : ${postFile}">
              <a
                th:href="@{/fileDownload/{postId}(postId=${postFile.fileId})}"
                th:text="${postFile.originFileName}"
                >파일이름1.png</a
              >
              <span>
                <button
                  th:fileId="${postFile.postFileId}"
                  th:onclick="postDelete(this.getAttribute('fileId'))"
                  type="button"
                  class="btn btn-outline-danger"
                >
                  삭제
                </button>
              </span>
            </p>
            <br />
            <div class="mb-3">
              <label for="formFileMultiple" class="form-label"
                >파일업로드</label
              >
              <input
                class="form-control"
                type="file"
                id="formFileMultiple"
                name="multipartFile"
                multiple
              />
            </div>
          </div>
          <br />
          <div>
            <button type="submit" class="btn btn-sm btn-primary" id="btnSave">
              수정
            </button>
            <button
              onclick="location.href='/board'"
              type="button"
              class="btn btn-sm btn-primary"
              id="btnList"
            >
              목록
            </button>
          </div>
        </div>
      </article>
    </form>
  </section>
</html>
