<!DOCTYPE html>
<html
        lang="en"
        layout:decorate="~{common/layouts/default_layout}"
        layout:fragment="Content"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
>
<script src="https://cdn.jsdelivr.net/npm/exif-js"></script>

<section class="section">
    <form
            enctype="multipart/form-data"
            th:action="@{/board/update}"
            th:method="put"
            th:object="${postDto}"
    >
        <input name="id" th:value="*{id}" type="hidden"/>
        <input name="memberId" th:value="${#authentication.getPrincipal().username}" type="hidden"/>
        <article>
            <div class="container" role="main">
                <div class="form-group">
                    <label for="title">제목</label>
                    <input
                            class="form-control"
                            id="title"
                            name="title"
                            placeholder="제목을 입력해 주세요"
                            th:class="${#fields.hasErrors('title')}? 'form-control fieldError' : 'form-control'"
                            th:value="*{title}"
                            type="text"
                    />
                    <p th:errors="*{title}" th:if="${#fields.hasErrors('title')}">
                        Incorrect date
                    </p>
                </div>
                <br/>
                <div class="mb-3">
                    <label for="reg_id">작성자</label>
                    <input
                            class="form-control"
                            id="reg_id"
                            name="memberName"
                            readonly
                            type="text"
                            th:value="${#authentication.getPrincipal().name}"
                    />
                </div>
                <br/>
                <div class="mb-3">
                    <label for="content">내용</label>
                    <textarea
                            class="form-control"
                            id="content"
                            name="content"
                            placeholder="내용을 입력해 주세요"
                            rows="5"
                            th:text="*{content}"
                    ></textarea>
                </div>
                <br/>
<!--                <div class="mb-3">-->
<!--                    <label for="content">첨부파일</label>-->
<!--                    <p th:each="postFile, index : ${postFile}">-->
<!--                        <a-->
<!--                                th:href="@{/fileDownload/{postId}(postId=${postFile.fileId})}"-->
<!--                                th:text="${postFile.originFileName}"-->
<!--                        >파일이름1.png</a-->
<!--                        >-->
<!--                        <span>-->
<!--                            <button-->
<!--                                    class="btn btn-outline-danger"-->
<!--                                    th:fileId="${postFile.postFileId}"-->
<!--                                    th:onclick="postDelete(this.getAttribute('fileId'))"-->
<!--                                    type="button"-->
<!--                            >-->
<!--                            삭제-->
<!--                            </button>-->
<!--                        </span>-->
<!--                    </p>-->
<!--                    <br/>-->
<!--                    <div class="mb-3">-->
<!--                        <label class="form-label" for="formFileMultiple"-->
<!--                        >파일업로드</label-->
<!--                        >-->
<!--                        <input-->
<!--                                class="form-control"-->
<!--                                id="formFileMultiple"-->
<!--                                multiple-->
<!--                                name="multipartFile"-->
<!--                                type="file"-->
<!--                        />-->
<!--                    </div>-->
<!--                </div>-->
                <br/>
                <div>
                    <button class="btn btn-sm btn-primary"
                       id="btnSave"
                       type="submit"
                    >
                        수정
                    </button>
                    <a
                            class="btn btn-sm btn-primary"
                            id="btnList"
                            th:href="@{/board/detail/{postId}(postId=${postDto.id})}"
                    >
                        취소
                    </a>
                </div>
            </div>
        </article>
    </form>
</section>
<script th:inline="javascript">


    const fileDOM = document.getElementById("formFileMultiple");
    const preview = document.querySelector('.image-box');

    fileDOM.addEventListener('change', async () => {
        const reader = new FileReader();
        reader.onload = ({target}) => {
            preview.src = target.result;
        };
        reader.readAsDataURL(fileDOM.files[0]);


    });
    preview.onload = function () {

        EXIF.getData(preview, function () {
            var allMetaData = EXIF.getAllTags(this);
            var allMetaDataSpan = document.getElementById("makeAndModel");
            allMetaDataSpan.innerHTML = JSON.stringify(allMetaData, null, "\t");
            // var makeAndModel = document.getElementById("makeAndModel");
            // makeAndModel.innerHTML = `${make} ${model}`;
        });
    }


</script>
</html>
