<!DOCTYPE html>
<html
        lang="en"
        layout:decorate="~{common/layouts/default_layout}"
        layout:fragment="Content"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
>
<script src="https://cdn.jsdelivr.net/npm/exif-js"></script>
<head layout:fragment="css">
    <style>
        .fieldError {
            border-color: #bd2130;
        }

        .form-group p {
            color: red;
        }

        .image-box {
            width: 100%;
        }
    </style>
</head>
<body>
<section class="section bg-light">
    <div class="container" role="main">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">게시글 작성</a>
            </div>
        </nav>
        <form enctype="multipart/form-data" method="post" th:action="@{/api/board/write}" th:object="${postDto}">
            <input name="id" th:value="${postDto.id}" type="hidden"/>
            <input name="boardId" th:value="${postDto.boardId}" type="hidden"/>
            <input name="memberId" th:value="${#authentication.getPrincipal().username}" type="hidden"/>
            <article>
                <div class="container" role="main">
                    <div class="form-group">
                        <label for="title">제목</label>
                        <input
                                class="form-control"
                                id="title"
                                name="title"
                                placeholder="제목을 입력해 주세요"
                                th:class="${#fields.hasErrors('title')}? 'form-control fieldError' : 'form-control'"
                                type="text"
                        />
                        <p th:errors="*{title}" th:if="${#fields.hasErrors('title')}">
                            Incorrect date
                        </p>
                    </div>
                    <div class="mb-3">
                        <label for="gbVal">구분</label>
                        <select class="form-control" id="gbVal" name="gbVal" th:if="${codeList} and ${postDto.boardId} == '1' ">
                            <option value="">-- 선택 --</option>
                            <option th:each="code, index : ${codeList}" th:value="${code?.codeNo}"
                                    th:text="${code?.codeName}">
                        </select>
                        <p th:errors="*{gbVal}" th:if="${#fields.hasErrors('gbVal')}">
                            Incorrect date
                        </p>
                    </div>
                    <div class="mb-3">
                        <label for="reg_id">작성자</label>
                        <input
                                class="form-control"
                                id="reg_id"
                                name="regId"
                                readonly
                                th:value="${postDto.username}"
                                type="text"
                        />
                    </div>
                    <div class="mb-3">
                        <label for="boardContent">내용</label>
                        <textarea
                                class="form-control"
                                id="boardContent"
                                name="content"
                                placeholder="내용을 입력해 주세요"
                                rows="10"
                        ></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="formFileMultiple"
                        >파일업로드</label
                        >
                        <input
                                accept="*"
                                class="form-control"
                                id="formFileMultiple"
                                name="postFiles"
                                type="file"
                        />
                    </div>
                    <div class="mb-3">
                        <img class="image-box"></img>
                    </div>
                    <br/>
                    <div>
                        <button
                                class="btn btn-sm btn-primary"
                                id="btnSave"
                                type="submit"
                        >
                            저장
                        </button>
                        <button
                                class="btn btn-sm btn-primary"
                                id="btnList"
                                onclick="location.href='/'"
                                type="button"
                        >
                            목록
                        </button>
                    </div>
                </div>
            </article>
        </form>
    </div>
</section>
</body>
<script th:inline="javascript">


//    const fileDOM = document.getElementById("formFileMultiple");
//    const preview = document.querySelector('.image-box');
//
//    fileDOM.addEventListener('change', async () => {
//        const reader = new FileReader();
//        reader.onload = ({target}) => {
//            preview.src = target.result;
//        };
//        reader.readAsDataURL(fileDOM.files[0]);
//
//
//    });
//    preview.onload = function () {
//
//        EXIF.getData(preview, function () {
//            var make = EXIF.getTag(this, "Make");
//            var model = EXIF.getTag(this, "Model");
//            var metaInfo = document.getElementById("metaInfo");
//            metaInfo.value = `${make} / ${model}`;
//            // metaInfo.innerHTML = JSON.stringify(allMetaData, null, "\t");
//            // var makeAndModel = document.getElementById("makeAndModel");
//            // makeAndModel.innerHTML = `${make} ${model}`;
//        });
//    }


</script>
</html>
