<!DOCTYPE html>
<html
        lang="en"
        layout:decorate="~{common/layouts/default_layout}"
        layout:fragment="Content"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
>
<script src="https://cdn.jsdelivr.net/npm/exif-js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var aa = /*[[${postDto}]]*/;
    /*]]>*/
</script>
<style>

    .image-box {
        width: 80%;
    }

    .carousel-control-prev,
    .carousel-control-next {
        position: relative;
        color: #827f7f;
        font-size: 70px;
    }

    .carousel-control-prev:hover,
    .carousel-control-next:hover {
        color: #0d0d0d;
    }

    .carousel-control-prev:active,
    .carousel-control-next:active {
        color: #0d0d0d;
    }

    .carousel-control-prev:focus,
    .carousel-control-next:focus {
        color: #0d0d0d;
    }


    @media (min-width: 1024px) {
        .carousel-control-prev {
            padding-left: 100px;
        }

        .carousel-control-next {
            padding-right: 100px;
        }

    }

    @media (min-width: 658px) {
        .image-box {
            width: 100%;
        }
    }


</style>
<section class="section">

    <input name="id" th:value="${postDto.id}" type="hidden"/>
    <input id="memberId"
           name="memberId"
           sec:authorize="isAuthenticated()"
           th:value="${#authentication.getPrincipal().username}"
           type="hidden"
    >
    <div class="container" role="main">
        <div class="row blog-entries element-animate">

            <div class="d-flex bd-highlight mb-3">
                <h2 class="me-auto bd-highlight posts-entry-title">산별상세 :
                    <a th:href="'/gallery/mt?mtNo='+ ${code.codeNo}"
                       th:text="${code.codeName}">산명칭</a> 기준 :
                    <a href="#"
                       th:text="${#temporals.format(postDto.createAt, 'yyyy')}"></a>
                </h2>

                <div class="">
                    <a class="p-2 bd-highlight"
                       id="btnDel"
                       sec:authorize="isAuthenticated()"
                    >
                        삭제
                    </a>
                    <a class="p-2 bd-highlight"
                       id="btnUpdate"
                       sec:authorize="isAuthenticated()"
                       th:href="@{/gallery/update/{postId}(postId=${postDto.id})}"
                    >
                        수정
                    </a>
                    <a class="p-2 bd-highlight"
                       id="btnList"
                       th:href="@{/board/{boardId}(boardId=${postDto.boardId})}"
                    >
                        목록
                    </a>
                </div>
            </div>


            <div class="d-flex justify-content-center">
                <button class="carousel-control-prev col-2 align-middle" th:text=" ${prevPost} ? '❮' : '' "></button>
                <img class="image-box col-10" th:alt="${postFile[0]?.imageUrl}" th:src="${postFile[0]?.imageUrl}">
                <button class="carousel-control-next col-2 align-middle" th:text=" ${nextPost} ? '❯' : '' "></button>
            </div>
            <div class="mb-3" id="text">
                <label class="form-label" for="metaInfo"
                >메타정보</label>
                <input class="form-control"
                       id="metaInfo"
                       readonly
                       type="text"/>
            </div>

            <div class="comment-form-wrap bg-light p-3" sec:authorize="isAuthenticated()">
                <h3 class="mb-5 heading">댓글</h3>
                <div class="form-group input-group save">
                    <label for="content"></label>
                    <input class="form-control content" id="content" name="content"
                           type="text">
                    <input class="btn btn-primary" id="commentSubmit" type="button" value="작성">
                </div>
            </div>

            <div class="comment-wrap pt-3" id="comment">
                <ul class="comment-list">
                    <li class="comment" th:each="comment, index :${commentDto}">
                        <div class="comment-body">
                            <input class="commentId" th:value="${comment.id}" type="hidden">
                            <hr>
                            <h5 th:text="${comment.nickname}"></h5>
                            <div class="meta"
                                 th:text="${#temporals.format(comment.createAt, 'yyyy-MM-dd HH:mm:ss')}"></div>
                            <p th:if="${comment.delYn} != 'Y'" th:text="${comment.content}"></p>
                            <p th:if="${comment.delYn} == 'Y'" th:text="'삭제된 댓글입니다.'"></p>
                            <p>
                                <a class="actionBtn rounded"
                                   data-bs-toggle="collapse"
                                   sec:authorize="isAuthenticated()"
                                   th:attr="data-bs-target=|#r${comment.id}"
                                   th:if="${comment.memberId != null and comment.delYn != 'Y'}">답글</a>
                                <a class="actionBtn rounded"
                                   data-bs-toggle="collapse"
                                   sec:authorize="isAuthenticated()"
                                   th:attr="data-bs-target=|#u${comment.id}"
                                   th:if="${comment.memberId != null and comment.memberId.equals(#authentication.getName()) and comment.delYn != 'Y'}">수정</a>
                                <a class="actionBtn rounded delBtn"
                                   sec:authorize="isAuthenticated()"
                                   th:if="${comment.memberId != null and comment.memberId.equals(#authentication.getName()) and comment.delYn != 'Y'}">삭제</a>
                            </p>
                        </div>
                        <div class="collapse" data-bs-parent="#comment" sec:authorize="isAuthenticated()"
                             th:id="r + ${comment.id}">
                            <div class="input-group reply">
                                <label for="replyContent" style="display: none">답글</label>
                                <input class="form-control content" id="replyContent" name="content"
                                       placeholder="답글 입력해주세요"
                                       type="text">
                                <input class="form-control parentId" id="parentId" name="parentId"
                                       th:value="${comment.id}"
                                       type="hidden">
                                <button class="btn btn-primary replyBtn"
                                        type="button"
                                        value="작성">답글작성
                                </button>
                            </div>
                        </div>
                        <div class="collapse" data-bs-parent="#comment" sec:authorize="isAuthenticated()"
                             th:id="u + ${comment.id}">
                            <div class="input-group update">
                                <label for="updateContent" style="display: none">수정</label>
                                <input class="form-control content" id="updateContent" name="content"
                                       placeholder="수정 댓글을 입력해주세요"
                                       type="text">
                                <input class="form-control commentId" id="commentId" name="commentId"
                                       th:value="${comment.id}"
                                       type="hidden">
                                <button class="btn btn-primary updateBtn"
                                        type="button"
                                        value="작성">수정
                                </button>
                            </div>
                        </div>
                        <ul class="children" th:each="children, index : ${comment.children}">
                            <li class="comment">
                                <div class="comment-body">
                                    <input class="commentId" th:value="${children.id}" type="hidden">
                                    <hr>
                                    <h5 th:text="${children.nickname}"></h5>
                                    <div class="meta"
                                         th:text="${#temporals.format(children.createAt, 'yyyy-MM-dd HH:mm:ss')}"></div>
                                    <p th:if="${children.delYn} != 'Y'" th:text="${children.content}"></p>
                                    <p th:if="${children.delYn} == 'Y'" th:text="'삭제된 댓글입니다.'"></p>
                                    <p>
                                        <a class="actionBtn rounded"
                                           data-bs-toggle="collapse"
                                           sec:authorize="isAuthenticated()"
                                           th:attr="data-bs-target=|#ru${comment.id}"
                                           th:if="${comment.memberId != null and comment.memberId.equals(#authentication.getName())}">수정</a>
                                        <a class="actionBtn rounded delBtn"
                                           sec:authorize="isAuthenticated()"
                                           th:if="${comment.memberId != null and comment.memberId.equals(#authentication.getName())}">삭제</a>
                                    </p>
                                </div>
                                <div class="collapse" data-bs-parent="#comment" sec:authorize="isAuthenticated()"
                                     th:id="ru + ${comment.id}">
                                    <div class="input-group update">
                                        <label for="updateContent" style="display: none">수정</label>
                                        <input class="form-control content" name="content"
                                               placeholder="수정 댓글을 입력해주세요"
                                               type="text">
                                        <input class="form-control commentId" name="commentId"
                                               th:value="${comment.id}"
                                               type="hidden">
                                        <button class="btn btn-primary updateBtn"
                                                type="button"
                                                value="작성">수정
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<script th:inline="javascript">


    const fileDOM = document.getElementById("formFileMultiple");
    const preview = document.querySelector('.image-box');
    const prevPost = document.querySelector('.carousel-control-prev');
    const nextPost = document.querySelector('.carousel-control-next');

    prevPost.addEventListener("click", () => {
        location.href = `/gallery/detail/[[${prevPost?.id}]]`
    });

    nextPost.addEventListener("click", () => {
        if ([[${nextPost?.id}]] != null) {
            location.href = `/gallery/detail/[[${nextPost?.id}]]`
        }
    });
    preview.addEventListener("load", function () {
        getMetaDataParse(preview);
    });


    function getMetaDataParse(t) {
        EXIF.getData(t, function () {
                var html, make, model, uniqueID, shutterSpeed, sw, width, height, DateTimeOriginal, DateTimeDigitized,
                    DateTime, F, T, l, E;
                EXIF.pretty(this)
                    ?
                    (
                        html = "",
                            make = EXIF.getTag(this, "Make"),
                            model = EXIF.getTag(this, "Model"),
                            uniqueID = EXIF.getTag(this, "ImageUniqueID"),
                            shutterSpeed = EXIF.getTag(this, "ShutterSpeedValue"),
                            sw = EXIF.getTag(this, "Software"),
                            width = EXIF.getTag(this, "ImageWidth"),
                            height = EXIF.getTag(this, "ImageHeight"),
                            DateTimeOriginal = EXIF.getTag(this, "DateTimeOriginal"),
                            DateTimeDigitized = EXIF.getTag(this, "DateTimeDigitized"),
                            flash = EXIF.getTag(this, "Flash"),
                            fNumber = EXIF.getTag(this, "FNumber"),
                            subjectDistance = EXIF.getTag(this, "SubjectDistance"),
                            ISOSpeedRatings = EXIF.getTag(this, "ISOSpeedRatings"),
                            Copyright = EXIF.getTag(this, "Copyright"),
                            ExposureProgram = EXIF.getTag(this, "ExposureProgram"),
                            DateTime = EXIF.getTag(this, "DateTime"),
                            // (l = EXIF.getTag(this, "GPSLongitude")) ?
                            //     (
                            //         E = EXIF.getTag(this, "GPSLongitudeRef"),
                            //             T = EXIF.getTag(this, "GPSLatitude"),
                            //             html += "* 위도 : " + (F = "S" == EXIF.getTag(this, "GPSLatitudeRef") ? -1 * T[0] + (-60 * T[1] + -1 * T[2]) / 3600 : T[0] + (60 * T[1] + T[2]) / 3600) + "<br>",
                            //             html += "* 경도 : " + (T = "W" == E ? -1 * l[0] + (-60 * l[1] + -1 * l[2]) / 3600 : l[0] + (60 * l[1] + l[2]) / 3600) + "<br>",
                            //             l = (E = DateTimeOriginal.split(" "))[0].replace(":", "").replace(":", ""),
                            //             E = (E = E[1].split(":"))[0] + "" + E[1]
                            //     ) : html += "<span style='color:red'>위,경도를 추출할 수 없는 이미지 입니다.</span><br>",
                            html += "<br>",
                            html += "* 촬영일자 : " + DateTime + "<br>",
                            html += "* 촬영기종 : " + make + " " + model + "<br>",
                            // html += "* 사진고유번호 : " + uniqueID + "<br>",
                            html += "* 셔터속도 : " + shutterSpeed + "<br>",
                            // html += "* SW : " + sw + "<br>",
                            html += "* " + flash + ", f\/" + fNumber + ", ISO" + ISOSpeedRatings + "<br>",
                            html += "* ExposureProgram : " + ExposureProgram + "<br>",
                            html += "* Copyright : " + Copyright + "<br>",
                            // html += "* 해상도 : " + width + " * " + height + "<br>",
                            // html += "* 사진조작가능성 : " + (DateTimeDigitized == DateTimeOriginal && DateTimeDigitized == DateTime && DateTimeOriginal == DateTime ? "없음" : DateTime < DateTimeOriginal ? "높음" : DateTime < DateTimeDigitized ? "높음" : DateTimeOriginal < DateTimeDigitized ? "높음" : DateTimeOriginal ? "낮음" : "높음") + "<br>",
                            html += "", $("#text").html(html))
                    :
                    $("#text").html("메타데이터 없음.")
            }
        );
    }
</script>
<script th:inline="javascript">

    document.getElementById("commentSubmit").addEventListener("click", (e) => {
        const form = e.target.closest('.input-group');
        save(form)
    })

    document.getElementById("btnDel").addEventListener("click", (e) => {
        const form = e.target.closest('.input-group');
        save(form)
    })

    const updateBtn = document.querySelectorAll('.updateBtn');
    updateBtn.forEach(function (item) {
        item.addEventListener('click', function (e) {
            var form = e.target.closest('.input-group');
            save(form);
        });
    });

    const replyBtn = document.querySelectorAll('.replyBtn');
    // 모든 수정 버튼별, 이벤트 등록
    replyBtn.forEach(function (item) {
        item.addEventListener('click', function (e) {
            var form = e.target.closest('.input-group');
            save(form);
        });
    });

    const delBtn = document.querySelectorAll('.delBtn');
    delBtn.forEach(function (item) {
        item.addEventListener('click', function (e) {
            var form = e.target.closest('.comment-body');
            delCommnet(form);
        });
    });

    function delPost() {
        if (confirm("정말 삭제하시겠습니까?") == true) {
            const postId = [[ ${postDto.id}]];

            var params = {
                postIds: [postId]
            }
            $.ajax({
                url: `/api/post/delete`,
                type: 'post',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(params),
                async: false,
                success: function (data) {

                }
            })
        }
    }

    function delCommnet(form) {
        if (confirm("정말 삭제하시겠습니까?") == true) {
            const postId = [[ ${postDto.id}]];

            var params = {
                postIds: postId,
                commentId: form.querySelector(".commentId").value
            }
            $.ajax({
                url: `/api/comment/delete`,
                type: 'post',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(params),
                async: false,
                success: function (res) {
                    window.location.reload(true);
                }
            })
        }
    }

    // 전체 댓글 조회
    function findAllComment() {

        const postId = [[ ${postDto.id}]];

        $.ajax({
            url: `/posts/${postId}/comments`,
            type: 'get',
            dataType: 'json',
            async: false,
            success: function (response) {

                // 1. 조회된 데이터가 없는 경우
                if (!response.length) {
                    document.querySelector('.comment-list').innerHTML = `
                                                                            <li class="comment">
                                                                            <div class="comment-body">
                                                                                <h5>등록된 댓글이 없습니다.</h5>
                                                                            </div>
                                                                            </li>
                                                                        `;
                    return false;
                }

                // 2. 렌더링 할 HTML을 저장할 변수
                let commentHtml = '';

                // 3. 댓글 HTML 추가
                response.forEach(commentDto => {
                    commentHtml += `
                        <li class="comment">
                        <div class="comment-body">
                            <h5>${commentDto.nickname}</h5>
                            <div class="meta">${commentDto.createAt}</div>
                            <p>${commentDto.content}</p>
                            <p><a href="#" class="reply rounded">Reply</a></p>
                        </div>
                        `;
                    if (commentDto.children != null) {
                        commentHtml +=
                            `<ul class="children">`;
                        commentDto.children.forEach(commentDto => {
                            commentHtml +=
                                `
                                <li class="comment">
                                    <div class="comment-body">
                                        <h5>${commentDto.nickname}</h5>
                                        <div class="meta">${commentDto.createAt}</div>
                                        <p>${commentDto.content}</p>
                                        <p><a href="#" class="reply rounded">Reply</a></p>
                                    </div>
                                </li>
                                `;
                        })
                        commentHtml +=
                            `</ul>`;
                    }
                    commentHtml += `</li>`;
                })

                // 4. class가 "cm_list"인 요소를 찾아 HTML을 렌더링
                document.querySelector('.comment-list').innerHTML = commentHtml;
            },
            error: function (request, status, error) {
                console.log(error)
            }
        })
    }


    // 댓글 저장
    function save(form) {
        if (form.querySelector(".content").value.length == 0) {
            alert("내용을 입력해주세요.")
            return
        }

        const memberId = document.getElementById('memberId');
        const postId = [[ ${postDto.id}]];
        const flag = form.className;

        const params = {
            postId: postId,
            content: form.querySelector(".content").value,
            memberId: memberId.value
        }
        if (flag.includes("update")) {
            params.commentId = form.querySelector(".commentId").value
        } else if (flag.includes("reply")) {
            params.parentId = form.querySelector(".parentId").value
        }

        $.ajax({
            url: `/api/comment/save`,
            type: 'post',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(params),
            dataType: 'json',
            async: false,
            success: function (response) {
                content.value = '';
                alert('저장되었습니다.');
                window.location.reload(true); // 페이지 리로드
            },
            error: function (request, status, error) {
                console.log(error)
            }
        });
    }

</script>
</html>